<div class="col mb-4">
  {%- if project.redirect contains '://' -%}
    {%- assign project_href = project.redirect -%}
  {%- elsif project.redirect -%}
    {%- assign project_href = project.redirect | relative_url -%}
  {%- else -%}
    {%- assign project_href = project.url | relative_url -%}
  {%- endif -%}
  <article class="card h-100 hoverable project-card project-card-horizontal">
    <div class="row no-gutters">
      {% if project.img %}
        <div class="col-md-6">
          {% include figure.liquid loading="eager" path=project.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" class="card-img" %}
        </div>
      {% endif %}
      <div class="{% if project.img %}col-md-6{% else %}col-md-12{% endif %}">
        <div class="card-body">
          <div class="project-card-meta">
            <span class="project-category">{{ project.category | default: 'project' }}</span>
            <span class="project-rank">0{{ project.importance }}</span>
          </div>
          <h3 class="card-title">
            <a class="project-card-link" href="{{ project_href }}">{{ project.title }}</a>
          </h3>
          <p class="card-text">{{ project.description }}</p>
          <div class="project-links">
            <a class="project-open-link" href="{{ project_href }}">Open Project</a>
            {% if project.github %}
              <a class="project-icon-link" href="{{ project.github }}" aria-label="Project source code" rel="noopener noreferrer">
                <i class="fa-brands fa-github gh-icon"></i>
              </a>
            {% endif %}
            {% if project.github_stars %}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fa-solid fa-star"></i>
                <span id="{{ project.github_stars }}-stars"></span>
              </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
